#access-key-form-field {
	display: block;
	margin: 30px 0;

	label {
		display: inline-block;
		margin-bottom: 5px;
		width: 100px;
	}
	input[type="text"] {
		display: inline-block;
		margin-bottom: 5px;
		width: 300px;
	}
}

body {
	background: #fff;

	.clear {
		clear: both;
	}

	#wpfooter {
		display: none;
	}
}

table {
	width: calc(100% - 15px);
	table-layout: fixed;
	background: #fff;
	border-collapse: collapse;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 30px;

	tr {
		width: 100%;

		th, td {
			padding: 5px;
			text-align: center;
			border-right: 1px solid #d8d8d8;
		}
		th {
			text-transform: uppercase;
			padding: 10px !important;
			background: #2B919B;
			color: #fff;

			&.main_header {
				background: #11576C;
				color: #fff;
				border-right: none;
			}
		}
		td {
			font-size: 12px;
			button {
				display: block;
				width: 100%;
				padding: 5px 10px;
				text-align: center;
				cursor: pointer;
			}

			&:first-of-type {
				border-left: 1px solid #d8d8d8;
			}

			a {
				text-decoration: none;
			}
		}

		&:nth-child(even) {
			background: #eee;
		}

		&:first-of-type {
			td {
				text-align: left;
			}
		}

		&.ajax-content {
			td * {
				word-wrap: break-word;
				white-space: pre-line;
			}
			td {
				padding: 15px;

				.this_site_datas,
				.other_site_datas {
					overflow: auto;
					table {
						table-layout: auto;

						tr {
							&.difference {
								border: 1px solid red;
							}

							td {
								text-align: left;

								img {
									max-width: 100%;
									height: auto;
								}

								del {
									color: red;
								}
								ins {
									color: green;
								}
							}
						}
					}
					.compressed_data {
						display: none;
					}
				}

				.this_site_datas {
					float: left;
					width: 50%;
				}
				.other_site_datas {
					float: right;
					width: 49%;
				}

				button.skip_sync,
				button.start_sync {
					text-transform: uppercase;
					display: block;
					padding: 10px;
					width: auto;
					margin: 15px auto 0 auto;
					text-align: center;
				}

			}
		}

	}

	&#this_site_posts {

	}
}
